In [490]:
print("hello\nworld")                 ## \n method for next line

hello
world

In [489]:
print("hello",end=" ")                 #  end=" "  for adding two or more string with placeholder
print("world",end=" ")
print("lucia")

hello world lucia

## string method

In [515]:
#capitalize() method
x="hello world MY "
x.capitalize()

'Hello world my '

In [516]:
#lower()  method
x="HELLO World"
x.lower()

'hello world'

In [517]:
## upper() method
x="HELLO World, My name is nitesh"
x.upper()

'HELLO WORLD, MY NAME IS NITESH'

In [518]:
## title() method
x="HELLO World, My name is nitesh kumar"
x.title()

'Hello World, My Name Is Nitesh Kumar'

In [519]:
# count() method
x="NNNNNNNNNNNNNNnnnnnnnn"
x.count('n')             ## here not count total value of capital 'N' & small 'n'

8

In [520]:
# Q.  count the total letter of N in string
x="NNNNNnnnnnnnn"
y=x.upper()
print(y.count("N"))                   ## first we covert string into either capital or small

13

In [15]:
x="nnnnnnnnnn" 
x.count('n',2,5)            ## string.count('value',start,end)

3

In [98]:
x="my name is nitesh kumar"
x.count('n',0,20)

2

In [521]:
#strip method
x="     nitesh is     my name      "
x.strip(" ")

'nitesh is     my name'

In [522]:
#strip method
x=",,,,......rrtttgggg....nitesh......"
x.strip(",.rtg")

'nitesh'

In [523]:
#split method
x="my name is nitesh kumar , i am 25"
x.split()

['my', 'name', 'is', 'nitesh', 'kumar', ',', 'i', 'am', '25']

In [38]:
x="apple#banana#cherry#mango"
x.split('#')

['apple', 'banana', 'cherry', 'mango']

In [50]:
x="apple#banana#cherry#mango"
x.split('#', 1)

['apple', 'banana#cherry#mango']

In [55]:
x="hello, my name is nitesh , i am 25 years old"
x.split(" , ")

['hello, my name is nitesh', 'i am 25 years old']

In [524]:
## case fold and lower are same method
x="Hello, my name is NITESH , i am 25 years old, AND I AM A HARD WORKER AND MORE PATIence"
x.casefold()

'hello, my name is nitesh , i am 25 years old, and i am a hard worker and more patience'

In [525]:
#center method
x="nitesh"
x.center(20)

'       nitesh       '

In [71]:
x="nitesh"
x.center(20,'1')

'1111111nitesh1111111'

In [526]:
#find method
x="my name is nitesh kumar"
x.find('n')

3

In [77]:
x="my name is nitesh kumar"
x.find('is')

8

In [105]:
x="hello my name is nitesh kumar"
x.find('e',0,20)

1

In [225]:
## find and index method
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [226]:
# formate method
x="my name is {name} kumar"
x.format(name="nitesh")

'my name is nitesh kumar'

In [227]:
#ormat method
x="my name is {} kumar"
x.format("nitesh")

'my name is nitesh kumar'

In [110]:
x="mango rate {price:.2f} pr kg"
x.format(price=49)

'mango rate 49.00 pr kg'

In [128]:
x=("my name is {name} kumar , i am {age} years old".format(name="nitesh",age=25))
y=("my name is {0} kumar , i am {1} years old".format("nitesh",25))
z=("my name is {} kumar , i am {} years old".format("nitesh",25))
print(x)
print(y)
print(z)

my name is nitesh kumar , i am 25 years old
my name is nitesh kumar , i am 25 years old
my name is nitesh kumar , i am 25 years old

In [527]:
                                                             ## format types
# left aligns
x="i have {:<8} bike"
x.format(49)

'i have 49       bike'

In [123]:
# right aligns
x="i have {:>8} bike"
x.format(49)

'i have       49 bike'

In [124]:
# center aligns
x="i have {:^8} bike"
x.format(49)

'i have    49    bike'

In [131]:
## thousand seprater
x="my account balanced {:,}"
x.format(125000000)

'my account balanced 125,000,000'

In [132]:
## thousand underscore
x="my account balanced {:_}"
x.format(125000000)

'my account balanced 125_000_000'

In [134]:
## binary format
x="my account balanced {:b}"
x.format(234)

'my account balanced 11101010'

In [133]:
## to binary number into decimal
txt = "We have {:d} chickens."
print(txt.format(0b111101))

We have 61 chickens.

In [140]:
# convert into percentage with decilmal
x="percentage of {:%}"
x.format(0.35)

'percentage of 35.000000%'

In [139]:
# convert into percentage without decilmal
x="percentage of {:.0%}"
x.format(0.35)

'percentage of 35%'

In [153]:
## isalnum method
a = "Company12"
b= "46567"
c="hcompany"
x = a.isalnum()
y = b.isalnum()
z = c.isalnum()
print(x)
print(y)
print(z)

True
True
True

In [152]:
## isalpha method
a = "Company"
b= "company12"
x = a.isalpha()
print(x)
y = b.isalpha()
print(y)

True
False

In [162]:
## isdigit method
a= "company12"
b= "\u0030"   ## unique code of 0 then this s true , means unique  code in isdigit will be true
c= "a0123"
d= "76876"
x = a.isdigit()
y = b.isdigit()
z = c.isdigit()
v = d.isdigit()
print(x)
print(y)
print(z)
print(v)

False
True
False
True

In [164]:
## islower
a = "Hello world!"
b = "hello 123"
c = "mynameiPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [169]:
##  isnumeric method
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for Â²
c = "10km2"
d = "-1"
e = "1.5"
f = "7656878601"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())
print(f.isnumeric())

True
True
False
False
False
True

In [168]:
## lstrip and rstrip method
txt = ",,,,,ssaaww.....banana......."

x = txt.lstrip(",.saw")
y = txt.rstrip(".")

print(x)
print(y)

banana.......
,,,,,ssaaww.....banana

In [175]:
## replace method
x= "two two two two three three"
x.replace("two", "one")

'one one one one three three'

In [176]:
## replace method
x= "two two two two three three"
x.replace("two", "one", 2)

'one one two two three three'

In [177]:
## swapcase
x="HEllo WOrld"
x.swapcase()

'heLLO woRLD'

## LIST

In [191]:
#  append
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [194]:
# append
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [193]:
# clear
x = [1,2,3,4,5,6,]
x.clear()
print(x)

[]

In [195]:
#copy
x = [1,2,3,4,5,6,]
x.copy()
print(x)

[1, 2, 3, 4, 5, 6]

In [199]:
#count
x = [1,2,3,3,3,4,5,6,]
y=x.count(3)
print(y)

3

In [216]:
# extend   with list
a=[1,2,3]
b=[4,3,2]
a.extend(b)
print(a)

[1, 2, 3, 4, 3, 2]

In [217]:
# extend    with tuple
a=[1,2,3]
b=(4,3,4)
a.extend(b)
print(a)

[1, 2, 3, 4, 3, 4]

In [218]:
# extend   with set
a=[1,2,3]
b={1,2,3}
a.extend(b)
print(a)

[1, 2, 3, 1, 2, 3]

In [224]:
#extend   with dictionary
a=[1,2,3]
b={"name":"nitesh",
  "age":24}
a.extend(b)
print(a)

[1, 2, 3, 'name', 'age']

In [232]:
#index method
x=["nitesh","kumar",22,444,55,]
y=x.index(22)
z=x.index('kumar')
print(y)
print(z)

2
1

In [235]:
# insert method
x = ['apple', 'banana', 'cherry']

x.insert(1, "orange")
print(x)

['apple', 'orange', 'banana', 'cherry']

In [237]:
# insert method
x= [3,1,3,6,4,7]
x.insert(2,4)
print(x)

[3, 1, 4, 3, 6, 4, 7]

In [240]:
# pop method
fruits = ['apple', 'banana', 'cherry']
x=fruits.pop(1)
y=fruits.pop()
print(x)
print(y)

banana
cherry

In [243]:
# remove method
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [245]:
# reverse method
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [255]:
# reverse method
x=["nitesh","kumar",1,2,4,[1,2,3],('a'),('a','b'),{'a'},{1,2,3}]
x.reverse()
print(x)

[{1, 2, 3}, {'a'}, ('a', 'b'), 'a', [1, 2, 3], 4, 2, 1, 'kumar', 'nitesh']

In [256]:
# sort method
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [475]:
# sort method
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

print(cars)                            #   doubt??????????????????????????????????????????????????????????????? doubt

['Volvo', 'Ford', 'BMW']

In [474]:
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort()

print(cars)

                         # doubt   ??????????????????????????????????????????????????????????????????????????????   doubt

['BMW', 'Ford', 'Mitsubishi', 'VW']

## TUPLE
immutable , duplicate value, orderd

In [273]:
# index method
x = (1, 3, 7, 8,'nitesh', 7, 5, 4, 6, 8, 5)
y=x.index('nitesh')
z=x.index(7)
print(y)
print(z)

4
2

In [271]:
## count method
x = (1, 3, 7, 8,'nitesh', 7, 5, 4, 6, 8, 5)
y=x.count('nitesh')
z=x.count(7)
print(y)
print(z)

1
2

## set
  mutable, unorderd, duplicate not allow

In [297]:
#add method
x={1,2,4,5,4,7,6}
x.add(3)
print(x)

{1, 2, 3, 4, 5, 6, 7}

In [299]:
#add method
x={'nitesh','kumar','sah'}
x.add('king')
print(x)

{'kumar', 'sah', 'king', 'nitesh'}

In [302]:
#add method
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [304]:
#add method
x={1,2,5,4,7,6}      #add element that already exists their will be no any changes
x.add(4)
print(x)

{1, 2, 4, 5, 6, 7}

In [305]:
#clear method
x={1,2,4,5,4,7,6}
x.clear()
print(x)

set()

In [309]:
# copy method
fruits = {"apple", "banana", "cherry" , "mangoes"}
x = fruits.copy()
print(x)

{'apple', 'banana', 'mangoes', 'cherry'}

In [317]:
# copy method
x={1,3,4,2}
x.copy()
print(x)

{1, 2, 3, 4}

In [371]:
# difference method
x={1,2,3,4}
y={4,2,6}
x.difference(y)

{1, 3}

In [372]:
# difference method
x={1,2,3,4}
y={4,2,6}
y.difference(x)

{6}

In [325]:
# difference method
x={1,2,3,4}
y={4,2,6}
a= x-y
print(a)

{1, 3}

In [347]:
# difference method  more then two set
x={1,2,3,4}
y={1,2,3,6}
z={1,7,5,6}
x.difference(y,z)

{4}

In [335]:
# difference method  more then two set
x={1,2,3,4}
y={1,2,3,6}
z={1,7,5,6}
a=x-y-z
print(a)

{4}

In [341]:
# difference_update method
x={1,2,3,4}
y={4,2,6}
x -= y
print(x)

{1, 3}

In [344]:
# difference_update method  more then two set
x={1,2,3,4}
y={1,2,3,6}
z={1,7,5,6}
x.difference_update(y,z)
print(x)

{4}

In [351]:
# difference_update method
x={1,2,3,4}
y={4,2,6}
x.difference_update(y)
print(x)

{1, 3}

In [353]:
# disacrd method
x={1,2,3,4}
x.discard(3)
print(x)

{1, 2, 4}

In [357]:
# disacrd method apply when item not exists
x={1,2,3,4}
x.discard(5)
print(x)

# remove method apply when item not exists
y={1,2,3,4}
y.remove(5)
print(y)

{1, 2, 3, 4}

KeyError: 5

In [362]:
## intersection method (&)
x={1,2,3,5}
y={1,3,4,6}
x.intersection(y)

{1, 3}

In [363]:
## intersection method (&)
x={1,2,3,5}
y={1,3,4,6}
x & y

{1, 3}

In [367]:
# intersection method (&)
x={1,2,3,5}
y={1,3,4,6}
z={1,7,4,9}
x.intersection(y,z)

{1}

In [368]:
# intersection method (&)
x={1,2,3,5}
y={1,3,4,6}
z={1,7,4,9}
x & y & z

{1}

In [376]:
# isdisjoint method     # both the set of item or element are not same then it will be true, otherwise comes false
x={1,2,3,4}
y={8,5,6,7}
x.isdisjoint(y)

True

In [377]:
# isdisjoint method
x={1,2,3,4}
y={4,5,6,7}
x.isdisjoint(y)

False

In [386]:
# issubset method       # issubset (<=)
x={1,2,3,4}
y={1,5,6,7,3,2,4}
x.issubset(y)

True

In [385]:
# issubset method              (<=)
x={1,2,3,4}
y={1,5,6,7,3,2,4}
x <= y

True

In [390]:
# issubset method
x={1,2,3,4}
y={1,5,6,7,3,2}
x.issubset(y)

False

In [392]:
# issuperset method
x={1,2,3,4,5,6,7}
y={1,2,3}
x.issuperset(y)

True

In [393]:
# issuperset method
x={1,2,3,4,5,6}
y={1,2,8}
x >= y

False

In [400]:
## pop method
x={1,2,5,3,9,6,4}     # Return the removed element:
x.pop()

1

In [399]:

## pop method
x={1,2,5,3,9,6,4}       #  return set except removed item
x.pop()
print(x)

{2, 3, 4, 5, 6, 9}

In [405]:
# union method   (  |  )
x={1,2,3}
y={1,4,5}
x.union(y)

{1, 2, 3, 4, 5}

In [411]:
# union method   (  |  )
x={1,2,3}
y={1,4,5}
x | y

{1, 2, 3, 4, 5}

In [482]:
                      #### uninon method in set   (   |   )
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"} 
Days3 = {"Monday","Saturday","Thursday"}
print(Days1|Days2|Days3)

{'Tuesday', 'Sunday', 'Monday', 'Friday', 'Wednesday', 'Saturday', 'Thursday'}

In [415]:
# update method   (  |=  )
x={1,2,3}
y={1,4,5}
x |= y
print(x)

{1, 2, 3, 4, 5}

## DICTIONARY
 MUTABLE, NOT DUPLICATE VALUE, ORDERD

In [511]:
x={
    "Name":"nitesh",
    "Title":"nitesh",
    "Age":25
}
print(x)

{'Name': 'nitesh', 'Title': 'nitesh', 'Age': 25}

In [512]:
thisdict = {
  "Brand": "Ford",
  "Model": "Mustang",
  "Year": 1964,
  "Year": 2020
}
print(thisdict)           ## duplicate value override existing value

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 2020}

In [513]:
#clear method
x={
    "Name":"nitesh",
    "Title":"sah",
    "Age":25
}
x.clear()
print(x)

{}

In [509]:
# get () method
x={
    "Name":"nitesh",
    "Title":"sah",
    "Age":25
}
x.get("Title")

'sah'

In [510]:
# get () method
x={
    "Name":"nitesh",
    "Title":"sah",
    "Age":25
}
x.get("DOB",2000)

2000

In [507]:
# items method 
## The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.
x={
    "Name":"nitesh",
    "Title":"sah",
    "Age":25
}
x.items()

dict_items([('Name', 'nitesh'), ('Title', 'sah'), ('Age', 25)])

In [506]:
# items method          
##  When an item in the dictionary changes value, the view object also gets updated:
x={
    "Name":"nitesh",
    "Title":"sah",
    "Age":25
}
x.items()
x["Title"]="kumar"
print(x)

{'Name': 'nitesh', 'Title': 'kumar', 'Age': 25}

In [505]:
#  keys method
## Returns a list containing the dictionary's keys
x={
    "Name":"nitesh",
    "Age":25
}
x.keys()

dict_keys(['Name', 'Age'])

In [504]:
#  keys method            # keys return after updated keys values
x={
    "Name":"nitesh",
    "Age":25
}
y=x.keys()
x["color"]="white"
print(y)

dict_keys(['Name', 'Age', 'color'])

In [502]:
# pop method                        #The pop() method removes the specified item from the dictionary.
x={
    "Name":"kumar",
    "Age":25,
    "DOB":"15jan2000"
}
x.pop("Age")
print(x)

{'Name': 'kumar', 'DOB': '15jan2000'}

In [503]:
# pop method
x={
    "Name":"kumar",
    "Age":25,
    "DOB":"15jan2000"
}
x.pop("Age")

25

In [497]:
## popitem               ##Removes the last inserted key-value pair
x={
    "Name":"kumar",
    "Age":25,
    "DOB":"15jan2000"
}
x.popitem()                    ## return removed elemnet

('DOB', '15jan2000')

In [496]:
# popitem
x={
    "Name":"kumar",
    "Age":25,
    "DOB":"15jan2000"
}
x.popitem()
print(x)                          ## return item except popeitem

{'Name': 'kumar', 'Age': 25}